html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0px;
}

.contain {
    height: 100%;
}

.logo {
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    color: #ddd;
    text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
}

.header {
    padding: 0px;
    background-color: #545c64;
    position: relative;
}

.head-sm {
    position: relative;
}

.head-pa {
    position: absolute;
    right: 0px;
    top: 0px;
}

.aside {
    width: 200px;
    background-color: #545c64;
    text-align: center;
}

.aside-head {
    width: 300px;
    text-align: center;
    padding-top: 20px;
}

.aside-head>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.aside-msg {
    font-size: 16px;
    margin-top: 20px;
    color: #fff;
}

.footer {
    padding: 0px;
    background-color: #f0f2f5;
}

.in-foot {
    height: 59px;
    line-height: 59px;
    text-align: center;
    border-top: 1px solid #f0f2f5;
}

.main-box {
    margin-top: 20px;
}

.main-d {
    margin-bottom: 20px;
    background-color: #f0f2f5;
    padding: 10px;
}

.listcon {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}